name: Greetings

on: [all]

jobs:
  greeting:
    runs-on: shr-yb7esabi0na6h4172gchwpdcm1p1
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Message that will be displayed on users' first issue"
        pr-message: "Message that will be displayed on users' first pull request"
